#!/bin/bash
#set -euo pipefail

### Настройки

# Имя бакета, куда будут заливаться бекапы
S3_BUCKET={{ s3_bucket }}

# Endpoint URL (в примере: Hotbox, горячие данные)
S3_ENDPOINT=https://hb.bizmrg.com

# Пользователь в БД, от которого запускается mysqldump
MYSQL_USER={{ wp_db_user }}

# Пароль для пользователя
MYSQL_PWD={{ wp_db_password }}

# База данных, которую необходимо сдампить
MYSQL_DB={{ wp_db_name }}

# Путь к директории где будут создаваться архивы.
# Эта папка будет синхронизироваться с S3,
# поэтому при удалении там файлов - они пропадут и в хранилище.
# Путь должен быть БЕЗ слеша на конце!
SYNC_DIR='/root/mysql'

# Префикс создаваемых архивов
ARCHIVE_PREFIX='db'

### Основной код

# Время создания бэкапа
DATE="$(date +%Y-%m-%d_%H-%M)"

# Токен бота и ID чата, куда уведомляния будут отправляться
BOT_TOKEN={{ bot_token }}
CHAT_ID={{ chat_id }}

# Создаём функцию для проверки статуса
check_status() {
  if [ $? -eq 0 ]; then
    echo "${ARCHIVE_PREFIX}_${DATE} succeded"
  else
    echo "${ARCHIVE_PREFIX}_${DATE} failed" >> /root/backup_status.txt && alert_tg "failed" && exit 1
  fi
}

# Создаём функцию для фиксации окончательного статуса
fix_status() {
  if [ $? -eq 0 ]; then
    echo "${ARCHIVE_PREFIX}_${DATE} succeded" >> /root/backup_status.txt && alert_tg "succeded"
  else
    echo "${ARCHIVE_PREFIX}_${DATE} failed" >> /root/backup_status.txt && alert_tg "failed" && exit 1
  fi
}

# Созадём функцию отправляющую уведомления в чат телеграм
alert_tg() {
  MSG="MySQL backup ${1}%0A${DATE}"
  curl -s -X POST https://api.telegram.org/bot$BOT_TOKEN/sendMessage -d chat_id=$CHAT_ID -d text="$MSG"
}

# Создаем директорию для синхронизации, если она ещё не существует
mkdir -p "${SYNC_DIR}"

# Удаляем все архивы из директории для синхронизции, дата изменения которых больше 7 дней
find ${SYNC_DIR}/${ARCHIVE_PREFIX}* -mtime +3 -exec rm {} \; || echo ""

# Удаляем директорию с дампами (если в предыдущий запуск что-то пошло не так)
# и создаем её заново
rm -rf "${SYNC_DIR}/_current"
mkdir -p "${SYNC_DIR}/_current"

# Дампим вначале схему БД
mysqldump -u "${MYSQL_USER}" -p${MYSQL_PWD} --quote-names --create-options --force --no-data --databases "${MYSQL_DB}" > "${SYNC_DIR}/_current/dump.sql"
check_status

# А потом туда же дозаливаем данные
mysqldump -u "${MYSQL_USER}" -p${MYSQL_PWD} --quote-names --no-create-info  --force --databases "${MYSQL_DB}" >> "${SYNC_DIR}/_current/dump.sql"
check_status

# Если нужно, то в предыдущие 2 команды можно добавить другие опции:
# https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html

# Создаем архив из дампа в папке для синхронизации
tar -czf "${SYNC_DIR}/${ARCHIVE_PREFIX}_${DATE}.tar.gz" "${SYNC_DIR}/_current"
check_status

# Удаляем директорию с дампом
rm -rf "${SYNC_DIR}/_current"

# Синхронизируем папку с S3 хранилищем.
# Стоит обратить внимание на аргумент `--delete` – он означает,
# что если в исходной директории (SYNC_DIR) нет файла, который есть в S3,
# то он удалится в хранилище.
/usr/local/bin/aws s3 sync --delete "${SYNC_DIR}" "s3://${S3_BUCKET}" --endpoint-url="${S3_ENDPOINT}"
fix_status

# Убираем запись статуса всех бекапах, кроме трёх последних
#cat /root/backup_status.txt | tail -n3 > /root/backup_status.txt.buf
#cat /root/backup_status.txt.buf > /root/backup_status.txt
